
/* #paleta{
    color: #13295b,  #152B59, #1d68a0, #2C88BC, #96d3f8,
    #F9E8EA, #131012,
} */

@font-face {
    font-family: "Lato";
    src: url("./Fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("./Fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Quicksand, Verdana, Tahoma, sans-serif;
}

#box-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(4, 1fr);
    min-width: 100vw;
    min-height: 100vh;
    grid-template-areas:
    "nav"
    "mainPage"
    "sobre_mim"
    "servicos"
    "contato";
}

/* Nav / Menu */

nav{
    font-family: "Quicksand";
    grid-area: nav;
    background-color: rgba(44, 135, 188, 0.750);
    border-bottom: 0.25rem solid #39a6e6;
    box-shadow: 0px 0px 20px 0px #131012;
    position: fixed;
    min-width: 100%;
    border-radius: 0% 0% 3rem 3rem;
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.menu a {
    padding: 0.5rem 1rem;
    margin: 15% 0;
    text-align: center;
    color: #F9E8EA;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    width: 100%;
    transition: all 0.5s;
    border-radius: 3.125rem;
}

.menu a:hover{
    color:#13295b;
    background-color: #96d3f8;
    box-shadow: 0px 0px 10px  #F9E8EA;
}

/* Main Page */

.mainPage{
    grid-area: mainPage;
    background: -moz-linear-gradient(207deg, #13295b 1%, #1d68a0 40%, #96d3f8 100%);
    background: -webkit-linear-gradient(207deg, #13295b 1%, #1d68a0 40%, #96d3f8 100%);
    background: linear-gradient(207deg, #13295b 1%, #1d68a0 40%, #96d3f8 100%);
    color:#F9E8EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    margin-top: 10rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    white-space: pre-wrap;
    flex-wrap: wrap;
    height: 100%;
}

h1{
    font-size: 6.5rem;
    margin: 5rem;
    text-align: center;
    letter-spacing: 2px;
}

#destaque{
    color: #152B59;
}

#button_servicos {
    font-family: "Quicksand";
    font-weight: 700;
    margin: 3.5rem;
    padding: 2rem 3.5rem;
    text-decoration: none;
    color: #F9E8EA;
    background-color: #2C88BC;
    font-size: 2rem;
    border: .25rem double #96d3f8;
    box-shadow: 1px 1px 5px 0px #131012;
    border-radius: 1.5625rem;
    transition: all 0.2s;
    border:medium;
    letter-spacing: 3px;
}

#button_servicos:hover {
    background-color: #2C88BC;
}

#imagem{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto {
    width: 100%;
    border-radius: 250px 250px 45px 300px;
    margin: 4vh 0px 5vh 0px;
}

/* Sobre Mim */

.sobre_mim{
    font-family: "Quicksand";
    grid-area: sobre_mim;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F9E8EA;
    padding: 2.5rem 3.75rem;
    min-height: 100vh;
    min-width: 100vw;
    color:#152B59;
    text-align: center;
}

#nome{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
}

#imagem_sobre_mim{
    width: 100%;
    border-radius: 1000px 2500px;
}

#subtitulo_sm{
    font-family: "Quicksand";
    text-transform: uppercase;
    font-size: 5rem;
    margin-top: 10vh;
    text-align: center;
}


#lista_descricao{
    min-height: 15vh;
    min-width: 100vw;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#instagram{
    font-size: 2rem;
    margin:2rem;
}

#instagram a{
    text-decoration: none;
    color:#d62976;
    font-weight: 700;
    
}

.button_voltar{
    text-decoration: none;
    font-size: 1.5rem;
    color: #131012;
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 600;
}

.button_voltar:hover{
    text-decoration: underline;
    text-underline-position: under;
}

/* Servicos */

/* Serviços - Background */
.circles{
    position: absolute;
    top: 66;
    left: 0;
    width: 100%;
    height: 100%;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.servicos{
    grid-area: servicos;
    background: #2C88BC;  
    background: -webkit-linear-gradient(to top, #96d3f8, #152B59);
    text-align: center;
    padding: 2.5rem 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.subtitulo_servicos, #subtitulo_contato{
    text-align: center;
    text-transform: uppercase;
    font-family: "Quicksand";
    margin-top: 10vh;
    margin-bottom: 2rem;
    font-size: 5rem;
    color: #d0e7f6;
    text-shadow: 0x 0x 2px #1d68a0;
}

.servicos p{
    padding: 5rem;
    font-size: 1.625rem;
    letter-spacing: 1px;
    line-height: 30px;
    color: #F9E8EA;
}

.box_servicos{
    background-color: #d0e7f62c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 80%;
    border: 1px solid #1d68a0;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #1d68a0;
}

.tipo_Servico{
    letter-spacing: 2px;
    background-color: #39a6e6;
    text-align: center;
    width: 80%;
    margin: 5vh 3vw;
    padding: 1vh;
    line-height: 80px;
    border: 2px solid #1d68a0;
    border-radius: 10px;
    box-shadow: inset 1px 1px 20px 0px #f9e8ea66;
    opacity: 0.7;
    transition: all 0.2s ease-out;
}

.icon{
    font-size: 5rem;
    text-align: center;
    margin: 2rem;
}

.linkWhats{
    display: inline-block;
    font-size: 2.5rem;
    text-decoration: none;
    color: #152B59;
    margin-top: 2rem;
}

.tipo_Servico:hover{
    opacity: 1;
    background-color: #d0e7f6;
    color: #2C88BC;
    font-weight: 700;
    box-shadow: inset 0px 0px 2px 0px #1d68a0;
}

.servicos>.button_voltar{
    color: #152B59;
}

/* Depoimentos */

.depoimentos{
    background-color: #2C88BC;
    text-align: center;
    padding: 40px 60px;
}

.subtitulo_depoimentos{
    padding: 2.5rem;
    font-size: 2.25rem;
    color: #F9E8EA;
    text-shadow: 0x 0x 2px #F9E8EA;
}

.depoimentos p{
    padding: 5rem;
    font-size: 1.625rem;
    letter-spacing: 1px;
    line-height: 30px;
}

/* Contato */

.contato{
    grid-area: contato;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("./img/background_Fale_Comigo.png");
    background-size: cover;
}

#formulario{
    margin: 10%;
    margin-top: 5vh;
    padding: 8% 5%;
    border: 3.5px solid #2C88BC;
    border-radius: 2rem;
    font-size: 1.4rem;
    box-shadow: inset 1px 1px 20px 0px #f9e8ea66;
    background-color: #d0e7f64c;
}

.form_box{

    font-family: "Quicksand";
    border:1px solid #1d68a0;
    width: 97%;
    height: 56px;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 0.5rem auto;
    background-color: #e2f4ff;
    color:#1d68a0;
}

label{
    font-size: 1.4rem;
    font-weight: 600;
}

#form_buttons{
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: space-between;
}

#form_buttons > button{
    font-family: "Quicksand";
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 0.5rem;
    color:#f2f4fd;
    border: none;
    letter-spacing: 2px;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0;
}

#enviar{
    background-color: #5783db;
}

#enviar:hover{
    background-color: #4681f4;
}

#resetar{
    background-color: #dd7973;
}

#resetar:hover{
    background-color: #f83b3b;
}

#button_whatsapp{
    position: fixed;
    bottom: 0;
    display: block;
    cursor: pointer;
    z-index: 9;
    float: right;
}

#button_whatsapp_image{
    width: 13%;
    margin: 3%
}