
/* #paleta{
    color: #13295b,  #152B59, #1d68a0, #2C88BC, #96d3f8,
    #F9E8EA, #131012,
} */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}

#box-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    min-width: 100vw;
    min-height: 100%;
    grid-template-areas:
    "nav"
    "mainPage"
    "sobre_mim"
    "servicos";
}

/* Nav / Menu */

nav{
    grid-area: nav;
    background-color: rgba(44, 135, 188, 0.750);
    border-bottom: 0.25rem solid #39a6e6;
    box-shadow: 0px 0px 20px 0px #131012;
    position: fixed;
    min-width: 100%;
    border-radius: 0% 0% 3rem 3rem;
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.menu a {
    padding: 0.5rem 1rem;
    margin: 15% 0;
    text-align: center;
    color: #F9E8EA;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    transition: all 0.5s;
    border-radius: 3.125rem;
}

.menu a:hover{
    color:#13295b;
    background-color: #96d3f8;
    box-shadow: 0px 0px 10px  #F9E8EA;
}

#button_whatsapp{
    background-color: #25D366;
}

#button_whatsapp:hover{
    color: #F9E8EA;
}

/* Main Page */

.mainPage{
    grid-area: mainPage;
    background: -moz-linear-gradient(207deg, #13295b 1%, #1d68a0 40%, #96d3f8 100%);
    background: -webkit-linear-gradient(207deg, #13295b 1%, #1d68a0 40%, #96d3f8 100%);
    background: linear-gradient(207deg, #13295b 1%, #1d68a0 40%, #96d3f8 100%);
    color:#F9E8EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    margin-top: 8rem;
    margin-bottom: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    flex-wrap: wrap;
}

h1{
    font-size: 5rem;
    margin: 5rem;
    text-align: center;
}

#destaque{
    color: #152B59;
}

#button_servicos {
    margin: 2rem;
    padding: 0.6rem 3rem;
    text-decoration: none;
    color: #F9E8EA;
    background-color: #1d68a0;
    font-size: 2rem;
    border: 2px double #1d68a0;
    box-shadow: 1px 1px 5px 0px #131012;
    border-radius: 25px;
    transition: all 0.2s;
    border:medium;
    letter-spacing: 1px;
}

#button_servicos:hover {
    background-color: #2C88BC;
}

#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto {
    width: 70%;
    border-radius: 250px 250px 45px 300px;
    margin: 5vh;
}

.sobre_mim{
    grid-area: sobre_mim;
    background-color: #F9E8EA;
    text-align: center;
    padding: 2.5rem 3.75rem;
}

.subtitulo_sm{
    padding: 2.5rem;
    font-size: 2.25rem;
    color: #152B59;
    text-shadow: 0x 0x 2px #131012;
}

.sobre_mim p{
    padding: 5rem;
    font-size: 1.625rem;
    letter-spacing: 1px;
    line-height: 30px;
}

.button_voltar{
    text-decoration: none;
    float: right;
    font-size: 0.8125rem;
    color: #131012;
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 600;
}

.button_voltar:hover{
    text-decoration: underline;
    text-underline-position: under;
}

.servicos{
    grid-area: servicos;
    background-color: #96d3f8;
    text-align: center;
    padding: 2.5rem 3.75rem;
}

.subtitulo_servicos{
    padding: 2.5rem;
    font-size: 2.25rem;
    color: #13295b;
    text-shadow: 0x 0x 2px #1d68a0;
}

.servicos p{
    padding: 5rem;
    font-size: 1.625rem;
    letter-spacing: 1px;
    line-height: 30px;
    color: #F9E8EA;
}

.servicos>.button_voltar{
    color: #F9E8EA;
}

.depoimentos{
    background-color: #2C88BC;
    text-align: center;
    padding: 40px 60px;
}

.subtitulo_depoimentos{
    padding: 2.5rem;
    font-size: 2.25rem;
    color: #F9E8EA;
    text-shadow: 0x 0x 2px #F9E8EA;
}

.depoimentos p{
    padding: 5rem;
    font-size: 1.625rem;
    letter-spacing: 1px;
    line-height: 30px;
}

.box_servicos{
    background-color: #96d3f8;
    display: inline-block;
    text-align: center;
    width: 80vw;
    margin: 5vh 0;
    border: 1px solid #1d68a0;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #1d68a0;
}

.tipo_Servico{
    letter-spacing: 2px;
    background-color: #39a6e6;
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 5vh 3vw;
    padding: 1vh;
    line-height: 80px;
    border: 2px solid #1d68a0;
    border-radius: 10px;
    box-shadow: inset 1px 1px 20px 0px #f9e8ea66;
    opacity: 0.7;
    transition: all 0.2s ease-out;
}

.icon{
    font-size: 5rem;
    text-align: center;
}

.linkWhats{
    text-decoration: none;
    color: #1d68a0;
}
.tipo_Servico:hover{
    opacity: 1;
    background-color: #d0e7f6;
    color: #2C88BC;
    font-weight: 700;
    box-shadow: inset 0px 0px 2px 0px #1d68a0;
}